<div class="modal" data-modal-target="modal">
  <label class="modal-overlay" for="modal-toggle"></label>
  <div class="modal-content">
    <div class="modal-body">
      <%= render "shared/modal_content" %>
    </div>
  </div>
</div>
