<div id="<%= dom_id post %>" class="card card-post mb-4">
  <div class="card-content">
    <% if post.title.present? %>
      <h4 class="card-title"><%= post.title %></h4>
    <% end %>
    <%= post.content %>
  </div>
  <%= link_to "Show this post", post if action_name == "index" %>
</div>
