<p style="color: green"><%= notice %></p>

<%= render post %>

<div>
  <%= link_to "Edit this post",
              edit_post_path(post),
              class: "btn btn-primary",
              data: {
                turbo_frame: "modal_content",
                action: "modal#open"
              } %>

  <%= button_to "Destroy this post", post, method: :delete, class: "btn btn-danger" %>
</div>
